<div class="container header">
  <div class="row" style="background-color: #e96500; font-family: 'Poppins', sans-serif;">
        <div class="col-md-1 p-2 d-flex justify-content-center align-items-center">
          <img src="assets/images/ashok_chakra_logo.png" alt="Logo" class="ashok_chakra_logo" style="max-height: 80px; width: auto;">
        </div>
        <div class="col-md-11 p-2 d-flex align-items-center">
          <div>
            <h2 class="amateur text-primary mb-1" style="margin: 0;">AMATEUR KABADDI FEDERATION OF INDIA</h2>
          </div>
        </div>
  </div>
</div>