body { 
    margin: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    /* background-color: #f4f4f4; 
    color: #222;  */
}


.navbar .nav-link:hover {
    color: #f4a300 !important;
    font-weight: bolder;
}
