<div class="container px-0">
    <div>
     <div class="card bg-dark text-white" style="max-width: 100%;">
       <img src="assets/images/kabaddi-banner.jpg" style="filter:contrast(0.5); " class="card-img" alt="Kabaddi"/>
       <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
         <h6 class="card-title">
         </h6>
         <div class="row">
           <h1 class="display-6 fw-bold mt-6 deskki" style="color: #f4a300;">देश की धरती<br>कबड्डी की शक्ति – <br> Play for Pride!</h1>
           <p class="card-text lead mt-3 akfitext">The Amateur Kabaddi Federation of India –<br>
             promoting excellence in the ancient sport<br>
             on a <span class="text-warning">global</span> stage.
           </p>
         </div>
     </div>
    </div>

   <div class="py-3" style="background-color: #e96500 !important; border-top: black 20px;">
     <div class="container" style="background-color: #e96500 !important;">
       <h2 class="text-uppercase text-warning fw-bold mb-4 featured" style="color: green !important">Featured Events</h2>
 
       <div class="row g-4">
         <div class="col-lg-4 col-md-4 col-sm-4">
           <div class="card border-0 h-100">
             <img src="assets/images/committe.jpg" class="card-img-top" alt="Event 1">
             <div class="card-body px-0">
               <p class="card-text fw-medium">AKFI Elections 2023 held at Constitution Club of India</p>
             </div>
           </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4">
           <div class="card border-0 h-100">
             <img src="assets/images/general-body-meeting.jpg" class="card-img-top" alt="Event 2">
             <div class="card-body px-0">
               <p class="card-text fw-medium">AKFI General Body Meeting Held at Goa</p>
             </div>
           </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4">
           <div class="card border-0 h-100">
             <img src="assets/images/junior-championship.jpg" class="card-img-top" alt="Event 3">
             <div class="card-body px-0">
               <p class="card-text fw-medium">51st Junior National Kabaddi Championship held at Nagpur Maharastra</p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 
   <div class="container px-0" style="background-color: green;">
     <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12">
       <div id="sportsOrgCarousel" class="carousel slide" data-bs-ride="carousel">
         <div class="carousel-inner text-center">
             <div class="carousel-item active">
               <img src="assets/images/1.jpeg" class="d-block mx-auto w-100 img-fluid" alt="1">
             </div>
             <div class="carousel-item">
               <img src="assets/images/2.jpeg" class="d-block mx-auto w-100 img-fluid" alt="2">
             </div>
             <div class="carousel-item">
               <img src="assets/images/3.jpeg" class="d-block mx-auto w-100 img-fluid" alt="3">
             </div>
             <div class="carousel-item">
               <img src="assets/images/4.jpeg" class="d-block mx-auto w-100 img-fluid" alt="4">
             </div>
             <div class="carousel-item">
               <img src="assets/images/6.jpeg" class="d-block mx-auto w-100 img-fluid" alt="6">
             </div>
             <div class="carousel-item">
               <img src="assets/images/7.jpeg" class="d-block mx-auto w-100 img-fluid" alt="7">
             </div>
             <div class="carousel-item">
               <img src="assets/images/8.jpeg" class="d-block mx-auto w-100 img-fluid" alt="8">
             </div>
             <div class="carousel-item">
               <img src="assets/images/9.jpeg" class="d-block mx-auto w-100 img-fluid" alt="9">
             </div>
           </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#sportsOrgCarousel" data-bs-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Previous</span>
         </button>
         <button class="carousel-control-next" type="button" data-bs-target="#sportsOrgCarousel" data-bs-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Next</span>
         </button>
       </div>
       </div>
     </div>
   </div>
   
   <div class="container" style="background-color: #e96500;">
      <div class="row">
        <div class="d-flex justify-content-around bg-danger text-white py-4">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="text-center">
              <i class="bi bi-newspaper" style="font-size: 2rem;"></i>
              <p class="fw-bold mt-2">LATEST NEWS</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="text-center">
              <i class="bi bi-calendar-day" style="font-size: 2rem;"></i>
              <p class="fw-bold mt-2">UPCOMING EVENTS</p>
            </div>  
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="text-center">
              <i class="bi bi-person-plus" style="font-size: 2rem;"></i>
              <p class="fw-bold mt-2"> 
                <a class="nav-link text-white" routerLink="/registration" routerlinkactive="active"> ONLINE REGISTRATION</a>
              </p>
            </div>  
          </div>
        </div>
      </div>
   </div>

   <div class="container" style="background-color: green;">
     <h2 class="text-left p-2" style="color: #e96500;">SPORTS ORGANISATIONS</h2>
       <div class="row d-flex align-items-center pb-4">
         <div class="col-lg-12 col-md-12 col-sm-12">
           <img src="https://worldkabaddi.org/wp-content/themes/wkf/images/logo.png" class="d-block mx-auto" alt="WKF Logo" style="max-height: 140px;">
         </div>
       </div>
   </div>
</div>
